.about-section {
    display: flex;
    min-height: calc(100wh - 90px);
    text-align: center;
}

.about-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-left: 100px;
    width: 100%;
}

.about-name {
    font-weight: 800;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0px;
    color: #FF81AE;
}

.about-me {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.image-about {
    display: block;
}