    .contact-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #F5F5F5;
    }
    
    .contact-section-container {
        width: 60%;
        margin-top: 10%;
        margin-bottom: 10%;
        padding: 5%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        background-color: #FFFFFF;
        border-radius: 100px;
        border: transparent;
    }
    
    .contact-main-content {
        width: 50%;
        padding-right: 2%;
    }
    
    .contact-social-nav {
        width: 100%;
        padding: 0%;
    }
    
    .contact-social-item {
        align-items: flex-start;
        margin-bottom: 5%;
    }
    
    .mail-main-content {
        width: 50%;
    }
    
    .social-link {
        align-items: flex-start;
        justify-content: left;
        color: gray;
    }
    
    .social-link:hover {
        color: #FBB1BD;
        transition: 0.3s;
    }
    
    .contact-me {
        justify-content: left;
        text-align: left;
        align-items: flex-start;
        display: flex;
    }
    
    .contact-icon {
        margin-right: 5%;
        font-size: 30px;
    }
    
    .input-form {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        margin-right: 5%;
    }
    
    .input-name-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5%;
    }
    
    input {
        border: transparent;
        border-radius: 5px;
        background-color: #F5F5F5;
        height: 30px;
        margin-top: 5%;
        padding: 5%;
        text-align: flex-start;
    }
    
    textarea {
        border: transparent;
        border-radius: 5px;
        background-color: #F5F5F5;
    }
    
    label {
        color: gray;
    }