nav {
    width: 100%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    align-items: center;
}

header {
    width: 100%;
    height: 80px;
    box-shadow: 2px 6px 5px -1px #FF81AE;
    background-color: #fae0e43a;
}

.ulNav {
    margin: 0;
    align-items: center;
    display: flex;
}

.itemsNav {
    display: inline;
    text-align: center;
}

.navLink {
    line-height: 2.5;
    padding: 0 10px;
    border-radius: 100px;
    color: #FF81AE;
}

.navLink:hover {
    color: #FBB1BD;
}

.nav-button {
    background-color: #FF81AE;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #FFFFFF;
    font-weight: 500;
}

.nav-button:hover {
    background-color: #FBB1BD;
    color: #ffff;
    transition: 0.7s;
}